data/state/locations/location.dtd

<!ELEMENT location (title,description,portal*,tangible?)>
<!ATTLIST location id CDATA #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT portal (#PCDATA)>
<!ATTLIST portal
	direction CDATA #IMPLIED
	object CDATA #IMPLIED
	destination CDATA #REQUIRED>
<!ELEMENT tangible (#PCDATA)>
<!ATTLIST tangible id CDATA #REQUIRED>
